<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.xored.fanide.testing.launchConfigurationType">
<stringAttribute key="fanMainClass" value=""/>
<stringAttribute key="mainScript" value=""/>
<stringAttribute key="nature" value="com.xored.fanide.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BedSheet"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.dltk.testing.engineId" value="com.xored.fanide.testing.fantest.testingEngine"/>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="BedSheet"/>
</launchConfiguration>
