
body, h1, h2, p, td {
    font-family:		"Lucida Console", Monaco, monospace;
	color:				#FFFFFF;
	font-size:			14px;
}

a {
	color:				#33B5E5;
	text-decoration:	none;
}

a:hover {
	text-decoration:	underline;
}

p {
	color:				#999999;
}

body {
	background-color:	#000000;
	padding:			0;
	margin:				0;
}

header {
	padding:			8px 5% 0 5%;
	border-bottom: 		2px solid #33B5E5;
	position:			relative;
	height:				45px;
	line-height:		55px;
}

footer {
	margin-top:			3em;
	padding:			0.5em 5%;
	border-top: 		2px solid #33B5E5;
	text-align:			right;
}

footer a {
	font-size:			12px;
	color:				#999999;
}

main {
	padding:			0 10%;
	display:			block;
}

h1 {
	font-size:			32px;
	color:				#FFFFFF;
}

h2 {
	font-size:			24px;
	color:				#FFFFFF;
	border-bottom:		1px solid #33B5E5;
	padding-top:		1em;
}

b {
	font-weight:		normal;
	color:				#FFFFFF;
}

td {
	vertical-align:		top;
}

td:first-child {
	color:				#AAAAE5;
	white-space:		nowrap;
	padding-right:		1em;
}

.cookies td:first-child,
.threadLocals td:first-child {
	white-space:		normal;
}

.alienHead {
	position:			absolute;
	height:				60px;
	width:				60px;
}

.brand {
 	color:				#999999;
    font-size:			32px;
    font-weight:		bold;
    padding-left:		60px;
}

code {
	display:			block;
	color:				#333333;
	white-space:		pre;
	background-color: 	#EEEEFF;
	border: 			1px solid rgba(0, 0, 0, 0.15);
	border-radius: 		4px;
	margin:				0 4em;
	padding:			1em;
}

